.laoli-pdp {
    padding-bottom: 80px;

    @media (@L) {
        padding-bottom: 140px;
    }
}

.laoli-pdp-mobile {
    @media (@L) {
        display: none;
    }
}

.laoli-pdp-mobile-goback {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #888888;

    cursor: pointer;

    margin-bottom: 20px;
}

.laoli-pdp-mobile-carousel-wrapper {
    position: relative;
    margin-bottom: 40px;
    padding-top: 24px;
}

.laoli-pdp-mobile-carousel-control {
    position: absolute !important;
    top: 0;
    left: 0;

    background: #A09B8E;
    opacity: 0.3;
    border-radius: 2px;
}

.laoli-pdp-mobile-carousel-control-indicator {
    background: #494540;
    opacity: 0.3;
    border-radius: 2px;
}

.laoli-pdp-mobile-carousel {
    overflow: hidden;
}

.laoli-pdp-mobile-carousel-item {
    width: 100%;
    height: 480px;
    flex-shrink: 0;

    @media (@S) {
        width: 100%;
        height: 630px;

    }

    @media (@M) {
        width: 650px;
        height: 750px;
    }
}

.laoli-pdp-mobile-carousel-item-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;
}

.laoli-pdp-mobile-info {
    position: relative;
    padding-bottom: 35px;
    border-bottom: 1px solid #B0B0B0;
    margin-bottom: 35px;
}

.laoli-pdp-mobile-info-status {
    position: absolute;
    top: 0;
    right: 0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #B0B0B0;
}

.laoli-pdp-mobile-info-title {
   font-family: 'TT Hoves';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   color: #000000;

   margin-bottom: 10px;
   max-width: 180px;
}

.laoli-pdp-mobile-info-price {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #888888;

    margin-bottom: 35px;
}

.laoli-pdp-mobile-info-text {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    margin-bottom: 35px;
}

.laoli-pdp-mobile-info-buttons {
    display: flex;
}

.laoli-pdp-mobile-info-buttons-sizes-wrapper {
    position: relative;
}

.laoli-pdp-mobile-info-buttons-sizes {
    position: relative;
    height: 32px;
    padding: 0 17px;
    border: 0.5px solid #B0B0B0;
    border-right: none;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;

    z-index: 1;
}

.laoli-pdp-mobile-info-buttons-sizes-value {
    display: inline-block;
    width: 17px;
    text-align: right;
}

.laoli-pdp-mobile-info-buttons-sizes-menu {
    display: none;
    width: 100%;
    position: absolute;
    border: 0.5px dashed #B0B0B0;
    border-top: none;
    padding: 7px 0;
    background: #FFFAF4;

    max-height: 160px;
    overflow-y: scroll;


    &::-webkit-scrollbar {
      width: 3px;               /* width of the entire scrollbar */
    }

    &::-webkit-scrollbar-track {
      background: transparent;        /* color of the tracking area */
    }

    &::-webkit-scrollbar-thumb {
      background-color: #B0B0B0;    /* color of the scroll thumb */
      border-radius: 5px;       /* roundness of the scroll thumb */
      border: 1px solid #B0B0B0;  /* creates padding around scroll thumb */
    }
}

.laoli-pdp-mobile-info-buttons-sizes-menu-item {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
    padding: 0 15px;
    border: 0.5px dashed transparent;

    &:hover {
        background: #FFFBF0;
        border: 0.5px dashed #B0B0B0;
        cursor: pointer;
    }
}

.laoli-pdp-mobile-info-buttons-sizes-menu-item_empty {
    font-weight: 300;
    color: #888888;
}

.laoli-pdp-mobile-info-buttons-add {
    height: 32px;
    padding: 0 17px;
    border: 0.5px solid #B0B0B0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;

    background: transparent;
}

.laoli-pdp-mobile-details {
    margin-bottom: 40px;
}

.laoli-pdp-mobile-details-controls {
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
}

.laoli-pdp-mobile-details-controls-item {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #B0B0B0;
}

.laoli-pdp-mobile-details-content {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}

.laoli-pdp-desktop {
    position: relative;
    display: none;

    @media (@L) {
        display: flex;
        justify-content: space-between;
    }
}

.laoli-pdp-desktop-goback {
    position: absolute;
    top: 0;
    left: 0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #888888;

    cursor: pointer;
}

.laoli-pdp-desktop-back {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #888888;

    cursor: pointer;
}

.laoli-pdp-desktop-col1 {
    display: none;

    @media (@XL) {
        display: block;
        width: 300px;
        padding-bottom: 30px;
    }

    @media (@XXL) {

    }

    @media (@XXXL) {

    }
}

.laoli-pdp-desktop-col2 {
    width: 500px;
}

.laoli-pdp-desktop-col3 {
    width: 300px;
    padding-bottom: 30px;
}

.laoli-pdp-desktop-pic {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    cursor: pointer;

    filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;


    @media (@XL) {
        margin-bottom: 35px;
    }
}

.laoli-pdp-desktop-info {
    position: sticky;
    top: 109px;
    margin-bottom: 160px;

    @media (@XL) {
        margin-bottom: 0;
    }
}

.laoli-pdp-desktop-info-status {
    position: absolute;
    top: 0;
    right: 0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #B0B0B0;
}

.laoli-pdp-desktop-info-title {
   font-family: 'TT Hoves';
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   text-transform: uppercase;
   color: #000000;

   margin-bottom: 10px;

   max-width: 180px;
}

.laoli-pdp-desktop-info-price {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #888888;

    margin-bottom: 35px;
}

.laoli-pdp-desktop-info-text {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;

    margin-bottom: 35px;
}

.laoli-pdp-desktop-info-buttons {
    display: flex;
}

.laoli-pdp-desktop-info-buttons-sizes {
    height: 32px;
    padding: 0 17px;
    border: 0.5px solid #B0B0B0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
}

.laoli-pdp-desktop-info-buttons-add {
    height: 32px;
    padding: 0 17px;
    border: 0.5px solid #B0B0B0;

    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 32px;
    text-transform: uppercase;
    color: #000000;
}

.laoli-pdp-desktop-details {

}

.laoli-pdp-desktop-details_right {
    position: sticky;
    top: 640px;
    @media (@XL) {
        display: none;
    }
}

.laoli-pdp-desktop-details_left {
    position: sticky;
    top: 646px;
}

.laoli-pdp-desktop-details-controls {
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
}

.laoli-pdp-desktop-details-controls-item {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #B0B0B0;

    cursor: pointer;
}

.laoli-pdp-desktop-details-controls-item_active {
    color: #000000;
}

.laoli-pdp-desktop-details-content {
    font-family: 'TT Hoves';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
}


.js-care-wrapper {
    display: none;
}

.controls-item-active {
    color: #000;
}

.laoli-pdp-gallery {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    background: #fffbf4;
    padding-top: 144px;

    z-index: 1;
    overflow: hidden;

    @media (@XL) {
        padding-top: 144px;
    }

    @media (@XXL) {
        padding-top: 114px;
    }

    @media (@XXXL) {

    }
}

.laoli-pdp-gallery-controls {
    position: absolute;
    top: 114px;
    left: 0;
    width: 100%;

    @media (@XL) {
        top: 144px;
    }

    @media (@XXL) {
        top: 114px;
    }
}

.laoli-pdp-gallery-wrapper {
    position: relative;
    overflow: scroll;
    height: 100%;
    width: 920px;
    margin: 0 auto;

    @media (@XL) {
        width: 1100px;
    }
}

.laoli-pdp-gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.laoli-pdp-gallery-wrapper {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.laoli-pdp-gallery-pic {
    display: block;
    object-fit: cover;
    width: 100%;
    margin-bottom: 35px;

    filter: drop-shadow(2px 5px 10px rgba(0, 0, 0, 0.1));
    border-radius: 10px;

    & img {
        width: 100%;
    }
}


