<div class="laoli-faq-title">{{ section.settings.title }}</div>


{% schema %}
{
  "name": "faq title",
  "presets": [
    {
      "name": "faq title",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "title",
      "default": "( f.a.q. )"
    }
  ]
}

{% endschema %}
