<div class="laoli-info">
  <div class="laoli-info-title">{{ page.title }}</div>
  <div class="laoli-info-content">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "info page",
  "presets": [
    {
      "name": "info page",
      "category": "Custom"
    }
  ]
}

{% endschema %}