<div class="laoli-responsibility-blur"></div>
<div class="laoli-responsibility-title">{{ section.settings.title}}</div>
<div class="laoli-responsibility-text">{{ section.settings.text }}</div>

{% schema %}
{
  "name": "responsibility page",
  "class": "laoli-responsibility",
  "presets": [
    {
      "name": "responsibility",
      "category": "Custom"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "about title",
      "default": "( responsibility )"
    },
    {
      "type": "text",
      "id": "text",
      "label": "about text",
      "default": "At LAOLI, we’ve made decisions to embed consciousness into every stage of our work. We have chosen to only use the highest quality materials and to avoid using newly mined raw materials. Our jewelry is made using 100% recycled 14kt and 18kt gold, conflict-free gemstones, cultured diamonds produced in India, and responsibly produced natural pearls.<br><br> Many of our suppliers are small, family-run businesses and they are all Responsible Jewelry Council-certified, to ensure accountability throughout the supply chain. Our artisans are the best there are for every element we need, focusing on quality craftsmanship, time-honed techniques, sustainability and ethics. Our gem-setters are in Bangkok, our pearl-stringers are in Paris, all chosen by their level of workmanship and commitment to the same high standards that we uphold."
    }
  ]
}

{% endschema %}
