<div class="laoli-home-text1">{{ section.settings.image_banner_title_text }}</div>

{% schema %}
  {
    "name": "main page text 1",
    "settings": [
      {
        "type": "text",
        "id": "image_banner_title_text",
        "label": "image-banner button text",
        "default": "text"
      }
    ],
    "presets": [
      {
        "name": "main page text 1",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
