<div class="laoli-home-text2">Founded by creative director and designer Olivia Ball, LAOLI was created for the aesthetes of the world who celebrate the fine things in life. A delicate balance between sophistication and ease, our pieces embrace refinement, poise and the poetic in equal measure.</div>

{% schema %}
  {
    "name": "main page text 2",
    "settings": [
      {
        "type": "text",
        "id": "image_banner_title_text",
        "label": "image-banner button text",
        "default": "text"
      }
    ],
    "presets": [
      {
        "name": "main page text 2",
        "category": "Custom"
      }
    ]
  }
{% endschema %}
