<div class="laoli-grid">

    <div class="container">
        <div class="laoli-grid-controls">
            <div class="laoli-grid-controls-list">
                {%- for child_collection in collections -%}
                  <a href="{{ child_collection.url }}" class="laoli-grid-controls-list-item {% if collection.title == child_collection.title %}laoli-grid-controls-list-item_active{% endif %}">{{ child_collection.title }}</a>
                {%- endfor -%}

            </div>
            <div class="laoli-grid-controls-filters">
                <div class="laoli-grid-controls-filters-filter" id="filter-in-stock">{{ section.settings.grid_filter_in_stock }}</div>
                <div class="laoli-grid-controls-filters-filter" id="filter-made-to-order">{{ section.settings.grid_filter_made_to_order}}</div>
            </div>
        </div>
    </div>

    <div class="laoli-grid-items">
        {%- for product in collection.products -%}
            {% render 'card-product',
              card_product: product,
              available: product.available
            %}
        {%- endfor -%}
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
    </div>

    {% comment %}

    <div class="laoli-grid-items ss" id="made-to-order">
        {%- for product in collection.products -%}
          {%- if product.available == false %}
            {% render 'card-product',
              card_product: product,
            %}
          {% endif %}
        {%- endfor -%}
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
        <div class="laoli-grid-item-dummy"></div>
    </div>

    {% endcomment %}
</div>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "settings": [
    {
      "type": "text",
      "id": "grid_filter_made_to_order",
      "label": "filter made to order text",
      "default": "made to order"
    },
    {
      "type": "text",
      "id": "grid_filter_in_stock",
      "label": "filter in stock  text",
      "default": "in stock"
    }
  ]
}

{% endschema %}
